.filter-list {
  a {
    display: block;
    padding: 5px 0;
  }

  li:first-of-type a {
    padding-top: 0 !important;
  }

  li:last-of-type a {
    padding-bottom: 0 !important;
  }

  a,
  .dropdown-item {
    color: blue;
    line-height: 'auto';

    &:hover,
    &:focus {
      text-decoration: none;
      color: blue;
      background-color: #f8f8f8;
    }
  }

  hr {
    margin-top: 1em;
  }
}